/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html {
  font-family: 'Helvetica Neue' ,Helvetica , sans-serif;
  background-color: #F4F4F4;
  -webkit-text-size-adjust: none;
}

/* line 21, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #2b2b67;
}

/* line 22, ../sass/screen.scss */
#main > div * {
  -webkit-margin-collapse: separate;
}

/* line 23, ../sass/screen.scss */
span.title {
  max-width: 250px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 32, ../sass/screen.scss */
.overflowscrolling #app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 43, ../sass/screen.scss */
.overflowscrolling #main {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
}
/* line 53, ../sass/screen.scss */
.overflowscrolling #main > * {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 10px;
  overflow-y: hidden;
  position: absolute;
  z-index: 0;
  min-height: 101%;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../sass/screen.scss */
.no-overflowscrolling, .no-overflowscrolling #app {
  height: 100%;
}
/* line 77, ../sass/screen.scss */
.no-overflowscrolling #main {
  position: relative;
  padding-top: 50px;
}

/* line 87, ../sass/screen.scss */
.overflowscrolling.iphone-safari #app {
  bottom: -60px;
}

/***************/
/* line 93, ../sass/screen.scss */
#main .slideleft.in, #main .slideleft.out {
  -webkit-animation-duration: 250ms;
}

/* line 97, ../sass/screen.scss */
#main .slideleft.in {
  -webkit-animation-name: slideLeftIn;
}

/* line 101, ../sass/screen.scss */
#main .slideleft.out {
  -webkit-animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
  /* line 106, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  /* line 109, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideLeftOut {
  /* line 115, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 118, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

/* Slide Right */
/* line 125, ../sass/screen.scss */
#main .slideright.in, #main .slideright.out {
  -webkit-animation-duration: 250ms;
}

/* line 129, ../sass/screen.scss */
#main .slideright.in {
  -webkit-animation-name: slideRightIn;
}

/* line 133, ../sass/screen.scss */
#main .slideright.out {
  -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
  /* line 138, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  /* line 141, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideRightOut {
  /* line 147, ../sass/screen.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 150, ../sass/screen.scss */
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

/* Disolve */
/* line 156, ../sass/screen.scss */
#main .dissolve.in, #main .dissolve.out {
  -webkit-animation-duration: 100ms;
}

/* line 160, ../sass/screen.scss */
#main .dissolve.in {
  -webkit-animation-name: dissolveIn;
}

/* line 164, ../sass/screen.scss */
#main .dissolve.out {
  -webkit-animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
  /* line 169, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 172, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissolveOut {
  /* line 178, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 181, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

/* line 186, ../sass/screen.scss */
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 50;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
/* line 195, ../sass/screen.scss */
#header a {
  vertical-align: middle;
  display: block;
  position: absolute;
}
/* line 199, ../sass/screen.scss */
#header a.btn-back {
  top: 6px;
  left: 6px;
}
/* line 203, ../sass/screen.scss */
#header a.logo {
  margin: 0 auto;
  position: static;
}
/* line 207, ../sass/screen.scss */
#header a.btn-dailymotion-petit {
  right: 6px;
  top: 0;
}

/* line 214, ../sass/screen.scss */
#main {
  padding: 0 10px;
}

/* line 218, ../sass/screen.scss */
#main > .current {
  z-index: 40;
}

/* line 222, ../sass/screen.scss */
#main > :not(.current) {
  display: none;
}

/* line 226, ../sass/screen.scss */
#main .in, #main .out {
  -webkit-animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
}

/* line 232, ../sass/screen.scss */
#main .in {
  z-index: 50;
}

/* line 235, ../sass/screen.scss */
#main .in:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 242, ../sass/screen.scss */
#main .out {
  z-index: 0 !important;
}

/* line 247, ../sass/screen.scss */
.picto-disque {
  background-image: url("../img/picto_disque.png");
  background-size: 56px 56px;
  display: inline-block;
  width: 56px;
  height: 56px;
  vertical-align: middle;
}

/* line 256, ../sass/screen.scss */
.picto-cliplist {
  background-image: url("../img/picto_cliplist.png");
  background-size: 35px 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* line 265, ../sass/screen.scss */
.picto-playlist {
  background-image: url("../img/picto_playlist.png");
  background-size: 35px 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* line 274, ../sass/screen.scss */
.mini-fleche {
  background-image: url("../img/mini_fleche.png");
  background-size: 14px 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

/* line 283, ../sass/screen.scss */
.logo {
  background-image: url("../img/logo.png");
  background-size: 118px 56px;
  display: inline-block;
  width: 118px;
  height: 56px;
  vertical-align: middle;
}

/* line 292, ../sass/screen.scss */
.btn-dailymotion-petit {
  background-image: url("../img/btn_dailymotion_petit.png");
  background-size: 51px 51px;
  display: inline-block;
  width: 51px;
  height: 51px;
  vertical-align: middle;
}

/* line 301, ../sass/screen.scss */
.btn-back {
  background-image: url("../img/btn_back.png");
  background-size: 35px 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/* line 310, ../sass/screen.scss */
.bubble, #home li, .playlist h1, .playlist-daily h1, .playlist a, .playlist-daily a, #playlist-list h1, #playlist-list h2, #playlist-list li, #deezer h1, #local h1, #deezer li, #local li, .deezer-playlist h1, #local-playlist h1, .deezer-playlist li, #local-playlist li, .deezer-playlist #list-songs input[type=submit], #local-playlist #list-songs input[type=submit], .tab-bar a {
  margin: 10px 0;
  height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
}

/* line 317, ../sass/screen.scss */
.degradeOrange, #home li, .playlist h1, .playlist-daily h1, #playlist-list h1, #deezer h1, #local h1, .deezer-playlist h1, #local-playlist h1, .deezer-playlist #list-songs input[type=submit], #local-playlist #list-songs input[type=submit], .tab-bar a {
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffbf00), color-stop(100%, #ff4f00));
  background: -webkit-linear-gradient(right, #ffbf00, #ff4f00);
  background: -moz-linear-gradient(right, #ffbf00, #ff4f00);
  background: -o-linear-gradient(right, #ffbf00, #ff4f00);
  background: linear-gradient(right, #ffbf00, #ff4f00);
  color: white;
  text-transform: uppercase;
}

/* line 323, ../sass/screen.scss */
.degradeOrange2, .playlist a, .playlist-daily a {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffbc3e), color-stop(100%, #ff4c20));
  background: -webkit-linear-gradient(bottom, #ffbc3e, #ff4c20);
  background: -moz-linear-gradient(bottom, #ffbc3e, #ff4c20);
  background: -o-linear-gradient(bottom, #ffbc3e, #ff4c20);
  background: linear-gradient(bottom, #ffbc3e, #ff4c20);
  color: white;
  text-transform: uppercase;
}

/* line 330, ../sass/screen.scss */
#home p.start {
  color: #2b2b67;
  font-size: 20px;
  margin: 16px 0 8px;
}
/* line 335, ../sass/screen.scss */
#home p.end {
  color: #2b2b67;
  font-size: 20px;
  margin: 8px 0 16px;
}
/* line 343, ../sass/screen.scss */
#home li span.picto-disque {
  position: relative;
  top: -7px;
  left: 7px;
}
/* line 348, ../sass/screen.scss */
#home li span.title {
  position: relative;
  top: -5px;
  left: 15px;
}
/* line 355, ../sass/screen.scss */
#home #connect {
  display: block;
  width: 100px;
  margin: 0 auto;
}

/* line 365, ../sass/screen.scss */
.playlist h1 .picto-cliplist, .playlist-daily h1 .picto-cliplist {
  position: relative;
  top: 2px;
  left: 4px;
}
/* line 370, ../sass/screen.scss */
.playlist h1 .title, .playlist-daily h1 .title {
  position: relative;
  top: 3px;
  left: 9px;
}
/* line 376, ../sass/screen.scss */
.playlist iframe, .playlist-daily iframe {
  vertical-align: middle;
}
/* line 379, ../sass/screen.scss */
.playlist .info-video, .playlist-daily .info-video {
  color: #2b2b67;
  display: inline-block;
  height: 30px;
}
/* line 383, ../sass/screen.scss */
.playlist .info-video p, .playlist-daily .info-video p {
  margin-top: 6px;
  display: inline-block;
}
/* line 388, ../sass/screen.scss */
.playlist a, .playlist-daily a {
  display: block;
}
/* line 394, ../sass/screen.scss */
.playlist #connect .title, .playlist #social .title, .playlist-daily #connect .title, .playlist-daily #social .title {
  display: block;
  text-align: center;
  position: relative;
  top: 12px;
}

/* line 406, ../sass/screen.scss */
#playlist-list h1 .picto-cliplist {
  position: relative;
  top: 2px;
  left: 4px;
}
/* line 411, ../sass/screen.scss */
#playlist-list h1 .title {
  position: relative;
  top: 3px;
  left: 9px;
}
/* line 417, ../sass/screen.scss */
#playlist-list h2 {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000033), color-stop(100%, #0000b8));
  background: -webkit-linear-gradient(left, #000033, #0000b8);
  background: -moz-linear-gradient(left, #000033, #0000b8);
  background: -o-linear-gradient(left, #000033, #0000b8);
  background: linear-gradient(left, #000033, #0000b8);
  color: white;
  text-transform: uppercase;
}
/* line 422, ../sass/screen.scss */
#playlist-list h2 .title {
  position: relative;
  top: 11px;
  left: 8px;
}
/* line 428, ../sass/screen.scss */
#playlist-list li {
  background-color: #FFFFFF;
  color: #2b2b67;
  position: relative;
}
/* line 433, ../sass/screen.scss */
#playlist-list li .title {
  position: relative;
  left: 10px;
  top: 11px;
}
/* line 438, ../sass/screen.scss */
#playlist-list li .mini-fleche {
  position: absolute;
  right: 10px;
  top: 12px;
}

/* line 449, ../sass/screen.scss */
#deezer h1 .picto-playlist, #local h1 .picto-playlist {
  position: relative;
  top: 2px;
  left: 4px;
}
/* line 454, ../sass/screen.scss */
#deezer h1 .title, #local h1 .title {
  position: relative;
  top: 3px;
  left: 9px;
}
/* line 460, ../sass/screen.scss */
#deezer li, #local li {
  background-color: #FFFFFF;
  color: #2b2b67;
  position: relative;
}
/* line 465, ../sass/screen.scss */
#deezer li .title, #local li .title {
  position: relative;
  left: 10px;
  top: 11px;
}
/* line 470, ../sass/screen.scss */
#deezer li .mini-fleche, #local li .mini-fleche {
  position: absolute;
  right: 10px;
  top: 12px;
}

/* line 481, ../sass/screen.scss */
.deezer-playlist h1 .picto-playlist, #local-playlist h1 .picto-playlist {
  position: relative;
  top: 2px;
  left: 4px;
}
/* line 486, ../sass/screen.scss */
.deezer-playlist h1 .title, #local-playlist h1 .title {
  position: relative;
  top: 3px;
  left: 9px;
}
/* line 492, ../sass/screen.scss */
.deezer-playlist li, #local-playlist li {
  background-color: #FFFFFF;
  color: #2b2b67;
  position: relative;
}
/* line 497, ../sass/screen.scss */
.deezer-playlist li .title, #local-playlist li .title {
  position: relative;
  left: 10px;
  top: 11px;
}
/* line 502, ../sass/screen.scss */
.deezer-playlist li input[type=checkbox], #local-playlist li input[type=checkbox] {
  position: absolute;
  right: 10px;
  top: 12px;
}
/* line 508, ../sass/screen.scss */
.deezer-playlist #list-songs input[type=submit], #local-playlist #list-songs input[type=submit] {
  -webkit-appearance: none;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 518, ../sass/screen.scss */
.deezer-playlist #deezer-tracks, #local-playlist #deezer-tracks {
  border-bottom: dashed #C3C3C3 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* line 525, ../sass/screen.scss */
.tab-bar {
  margin: 10px 0;
}
/* line 527, ../sass/screen.scss */
.tab-bar a {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
}
/* line 533, ../sass/screen.scss */
.tab-bar a .picto-cliplist, .tab-bar a .picto-playlist {
  position: relative;
  top: 2px;
  left: 4px;
}
/* line 538, ../sass/screen.scss */
.tab-bar a .title {
  position: relative;
  top: 3px;
  left: 9px;
}
