<h1><span class="picto-disque"></span> Playlist Title</h1>

<form id="list-songs">
<ul>
	<label for="truc1"><li>Daft Punk / Technologic <input type="checkbox" id="truc1" name="songs[]" checked="checked" value="daft punk technologic" /></li></label>
	<label for="truc2"><li>Yuksek / Tonight <input type="checkbox" id="truc2" name="songs[]" checked="checked" value="yuksek tonight"/></li></label>
	<label for="truc3"><li>Calvin Harris / Flashback <input type="checkbox" id="truc3" name="songs[]" checked="checked" value="calvin harris flashback"/></li></label>
</ul>

<input type="submit" value="Go 2 Videos" />
</form>