<div>
	<h1><span class="picto-playlist"></span><span class="title">Playlist Title</span></h1>

	<form id="list-songs">
	<ul>
		<label for="truc1"><li><span class="title">Daft Punk / Technologic</span><input type="checkbox" id="truc1" name="songs[]" checked="checked" value="daft punk technologic" /></li></label>
		<label for="truc2"><li><span class="title">Yuksek / Tonight</span><input type="checkbox" id="truc2" name="songs[]" checked="checked" value="yuksek tonight"/></li></label>
		<label for="truc3"><li><span class="title">Calvin Harris / Flashback</span><input type="checkbox" id="truc3" name="songs[]" checked="checked" value="calvin harris flashback"/></li></label>
	</ul>

	<input type="submit" value="Go to Videos" />
	</form>
</div>