<div>
	<h1><span class="picto-playlist"></span><span class="title">Local</span></h1>

	<ul>
		<a href="local/toto" data-animation="slideleft"><li><span class="title">Nom playlist</span><span class="mini-fleche"></span></li></a>
		<a href="local/toto" data-animation="slideleft"><li><span class="title">Nom playlist</span><span class="mini-fleche"></span></li></a>
		<a href="local/toto" data-animation="slideleft"><li><span class="title">Nom playlist</span><span class="mini-fleche"></span></li></a>
	</ul>
</div>